<!-- leaderboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaderboard - Chore Management System</title>
  <link rel="stylesheet" href="../css/leaderboard.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Leaderboard</h1>
    </header>

    <section class="user-scores">
      <h2>User Scores</h2>
      <ul>
        <li>
          <strong>User:</strong> Emmanuel
          <br>
          <strong>Score:</strong> 150
        </li>
        <li>
          <strong>User:</strong> Hagar
          <br>
          <strong>Score:</strong> 120
        </li>
      </ul>
    </section>

    <section class="top-performers">
      <h2>Top Performers</h2>
      <ol>
        <li>Emmanuel Agyei</li>
        <li>Hagar Ampomaah</li>
      </ol>
    </section>
  </div>

  
</body>
</html>
